#subtitle {
    color: #B0B0B0;
    font-style: italic;
}

h1 {
    margin-bottom: -15px; 
}

#part1 {
    background-color: #8B0000;
    color: white;
    padding: 10px; 
}

#part2 {
    background-color: #000080;
    color: white;
    padding: 10px; 
}

#height, #weight, #num1, #num2, #num3, #num4, #num5 {
    width: 170px;
}

#p2Title{
    font-weight: bold;
}

#gender {
    width: 170px;
    height: 23px;
}

#birthYear{
    width: 170px;
    height: 23px;
}

#cal1, #cal2 {
    width:70px;
    height: 28px;
    border: none;
    background-color: #909090;
    font-size: 14px;
    color: white;
    border-radius: 6px;
    font-weight: bold;
}

#result1 input, #result2 input {
    border: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
  }
  
  td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }