#subtitle {
    color: #B0B0B0;
    font-style: italic;
}

h1 {
    margin-bottom: -15px; 
}

#part1 {
    background-color: #8B0000;
    color: white;
    padding: 10px; 
}

#part2 {
    background-color: #000080;
    color: white;
    padding: 10px; 
}

#p2Title{
    font-weight: bold;
}

#gender {
    width: 170px;
    height: 23px;
}

#birthYear{
    width: 170px;
    height: 23px;
}

#cal1, #cal2 {
    width:200px
}

#result1 input, #result2 input {
    border: 0;
}