nav {
    font-weight: bold;
    font-size: 15px;
    border: 2px solid;
    text-align: center;
    background-color:bisque;
    width: 30em;
}

nav:hover ul {display: block}

.navbar li:hover {background-color:darksalmon}

.navbar li {
    background-color:beige;
    border-top: 2px solid;
}

body {
    padding: 20px;
    font-family: papyrus, sans-serif, tahoma;
    color: brown;
    background-color:antiquewhite;
}

ul {
    list-style:none;
    position: relative;
    top: 5px;
    left: 10px;
    width: 90%;
}  

li {
    background:fixed;
    margin: 10px;
    padding: 5px;
    border-right: 5px;
}

a {text-decoration: none;}

@media screen and (max-width: 600px) {
    body {
      background-color:darkgrey;
    }
}