h1 {
    font-size: 45px;
    text-shadow: 2px 2px 4px rgb(253, 255, 220);
}

#description{
    font-size: 20px;
    font-weight: bold; 
    color: #232323;
}

#recHoney, #recDrink{
    width: 300px;
}

#resultImage1, #resultImage2{
    max-width: 200px; 
    max-height: 200px;
}

#container {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 40%;
}

#resultContainer1 {
    position: absolute;
    top: 30%;
    left: 50%;   
    width: 20%; 
}

#resultContainer2 {
    position: absolute;
    top: 30%;
    left: 80%;   
    width: 20%;  
}

body {
    background-image: url('background.jpg'); 
    background-size: cover; /* 設置背景圖片覆蓋整個視窗 */
    background-repeat: no-repeat; /* 禁止背景圖片重複 */
    /* overflow-y: hidden; */
}